body {
    background-color: rgb(250,350,239);
}
.col-12 {
    padding: 100px;
    text-align: left;
}

h1, h2, h3, h4 {
    margin-bottom: 2rem; 
  }
  
 
  .row.g-1 .col {
    padding: 0.5rem; 
    margin-bottom: 1rem; 
  }
  
  
  .d-grid .btn {
    margin-bottom: 1rem; 
  }
  

  .container {
    padding: 1rem; 
  }
  
  
  .col-12.col-md-4 {
    margin-bottom: 2rem; 
  }
 